.popup__container-confirm {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 181px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 600px) {
  .popup__container-confirm {
    width: 282px;
    height: 135px;
  }
}