.footer__copyright {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
  max-width: 318px;
}

@media screen and (max-width: 930px) {
  .footer__copyright {
    margin-left: 27px;
  }
}

@media screen and (max-width: 550px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 340px) {
  .footer__copyright {
    margin-left: 19px;
  }
}