.header__email {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #FFFFFF;
  margin: 16px 24px 0 0;
}

@media screen and (max-width: 430px) {
  .header__email {
    display: none;
  }
}