.popup__form-confirm {
  width: 430px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .popup__form-confirm {
    width: 282px;
    height: 322px;
  }
}