.popup__caption {
  width: 291px;
  color: white;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin: 10px 0 0;
}

@media screen and (max-width: 600px) {
  .popup__caption {
  width: 220px;
  }
}