.element__caption-like {
  width: 22px;
  height: 19px;
  min-width: 22px;
  min-height: 19px;
  margin-top: 17px;
  padding: 0;
  background-image: url(../../../images/elements/like.svg);
  border: none;
  outline: none;
  background-color: transparent;
  background-size: cover;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.element__caption-like:hover {
  opacity: 0.5;
}