.header__burger {
  display: none;
}

.header__burger:hover {
  opacity: 0.6;
}

@media screen and (max-width: 430px) {
  .header__burger {
    display: block;
    width: 24px;
    height: 21px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 30px 28px 0 0;
  }
}