.element__trash {
  width: 18px;
  height: 19px;
  position: absolute;
  background-color: transparent;
  background-image: url(../../../images/elements/trash.svg);
  background-size: cover;
  top: 20px;
  right: 21px;
  border: none;
  outline: none;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.element__trash:hover {
  opacity: 0.6;
}