.element__card {
  width: 282px;
  height: 282px;
  min-width: 282px;
  min-height: 282px;
  background-color: gainsboro;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}

.element__card:hover {
  opacity: 0.8;
}